<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.movielistscreens">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="MovieListScreens"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MovieListScreens">

        <!-- Declare your SignInActivity here -->
        <activity android:name=".SignInActivity"
            android:exported="true">
            <!-- Optional: Intent Filter for main entry point (if SignInActivity is the first screen) -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare your MainActivity here -->
        <activity android:name=".MainActivity" />

    </application>
</manifest>
